@using Lec09.Controllers

@{
    ViewBag.Title = "Home Page";
}

<h1>Demo sobre Sintaxis Razor</h1>
<h2>@DateTime.Now.ToShortDateString()</h2>
<h2>@HomeController.Nombre</h2>
@{
    HomeController controller = new HomeController();
    var apellido = controller.Apellido;
}
<h2>@apellido</h2>
<br />
@if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    @DateTime.Now.Year @: es un año bisiesto
}
else
{
    @DateTime.Now.Year @: no es un año bisiesto
}
<br />
@for (int i = 1; i < 6; i++)
{
    @i.ToString() <br />
}
<h2>@ViewBag.Prueba</h2>